[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "xed"]
	path = xed
	url = https://github.com/intelxed/xed.git
[submodule "mbuild"]
	path = mbuild
	url = https://github.com/intelxed/mbuild.git
